*.env

db_data/*
wp-config.php

*/wp-admin/*
*/wp-includes/*

*/wp-content/*
!*/wp-content/mu-plugins/
!*/wp-content/plugins/
!*/wp-content/themes/
!*/wp-content/uploads/
!*/wp-content/plugins/buddypress
!*/wp-content/plugins/mailchimp-for-wp
!*/wp-content/plugins/woocommerce
!docker-compose.yml

wordpress/wp-content/plugins/akismet/
wordpress/wp-content/plugins/hello.php
*/wp-content/plugins/jetpack 
*/wp-content/plugins/woocommerce-services
*/wp-content/plugins/woocommerce-gateway-paypal-express-checkout

*/wp-content/themes/storefront
*.htaccess
xmlrpc.php
wp-trackback.php
wp-signup.php
wp-settings.php
wp-mail.php
wp-login.php
wp-load.php
wp-links-opm.php
wp-cron.php
wp-comments-post.php
wp-blog-header.php
wp-activate.php

license.txt
readme.html
wp-config-sample.php
wp-links-opml.php
wordpress/index.php
wordpress/wp-content/plugins/index.php

wordpress/wp-content/themes/twentyfifteen/index.php
wordpress/wp-content/themes/twentyseventeen/index.php
wordpress/wp-content/themes/twentysixteen/index.php
